<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>

    <h1>Home Page</h1>
    <h3><%= 'Hello World'.toUpperCase() %></h3>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut cupiditate omnis atque iure labore! Unde rerum, praesentium numquam nostrum repellendus sed hic sequi, quaerat rem, corrupti dolorum adipisci odit et! </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus libero reprehenderit molestias. In ab maiores enim, placeat alias sequi, quis eos iste distinctio aliquid quae a vel veniam ratione cum?
    </p>

    <%- include('partials/footer.ejs') %>